## Program to extract length of roads
We can extract length of roads from Shapefile or GeoJSON by using Pandas and GeoPandas modules.
You can download country specific OpenStreetMap data from GeoFabrik. The common data formats available are PBF and Shapefiles.


By conventions, we import geopandas as gpd and pandas as pd

In [134]:
import geopandas as gpd
import pandas as pd
import os

#### Reading Spatial Data

In [135]:
data_directory = '/Users/shakthi/Downloads/malaysia'
filename = 'malaysia_roads_stats.shp'
path = os.path.join(data_directory,filename)

GeoPandas provide read_file() method that can read almost any vector-based spatial data format including ESRI shapefile, GeoJSON files.
Here we will read osm_roads.shp . The results are stored in GeoDataFrames.

In [136]:
roads_gdf = gpd.read_file(path)


Print GeoDataFrame information to check all columns

In [137]:
print(roads_gdf.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1717506 entries, 0 to 1717505
Data columns (total 10 columns):
 #   Column      Dtype
---  ------      -----
 0   osm_id      object
 1   name        object
 2   highway     object
 3   waterway    object
 4   aerialway   object
 5   barrier     object
 6   man_made    object
 7   z_order     int64
 8   other_tags  object
 9   geometry    geometry
dtypes: geometry(1), int64(1), object(8)
memory usage: 131.0+ MB
None

Concatenate road network GeoDataFrames using Pandas & concat() method

In [138]:
gdf = gpd.GeoDataFrame(pd.concat([roads_gdf]))


Print first 5 rows of concatenated GeoDataFrame

In [139]:
gdf.head(n=5)

,osm_id,name,highway,waterway,aerialway,barrier,man_made,z_order,other_tags,geometry
0,4386520,Orchard Road,primary,None,None,None,None,7,"""lanes""=>""5"",""oneway""=>""yes"",""name:en""=>""Orcha...","LINESTRING (103.83006 1.30602, 103.83011 1.30599)"
1,4578273,Jalan Bukit Bintang,secondary,None,None,None,None,6,"""lanes""=>""1"",""oneway""=>""yes"",""surface""=>""asphalt""","LINESTRING (101.72265 3.14789, 101.72237 3.147..."
2,4579495,Jalan Nagasari,residential,None,None,None,None,3,"""lanes""=>""2"",""oneway""=>""no"",""surface""=>""asphalt""","LINESTRING (101.70838 3.14739, 101.70848 3.147..."
3,4579533,Persiaran Raja Chulan,residential,None,None,None,None,3,"""surface""=>""asphalt""","LINESTRING (101.70426 3.14687, 101.70466 3.147..."
4,4579534,Jalan Ceylon,residential,None,None,None,None,3,"""oneway""=>""no"",""surface""=>""asphalt""","LINESTRING (101.70334 3.14764, 101.70354 3.14791)"


Print last 5 rows of concatenated GeoDataFrame

In [140]:
gdf.tail(n=5)

,osm_id,name,highway,waterway,aerialway,barrier,man_made,z_order,other_tags,geometry
1717501,992218790,None,service,None,None,None,None,0,None,"LINESTRING (101.52678 3.01054, 101.52712 3.010..."
1717502,992218874,None,residential,None,None,None,None,3,"""access""=>""private""","LINESTRING (103.73051 1.54306, 103.73093 1.542..."
1717503,992221775,Jalan Jaya Putra 2/26,residential,None,None,None,None,3,None,"LINESTRING (103.77775 1.56705, 103.77785 1.567..."
1717504,992223619,None,residential,None,None,None,None,3,None,"LINESTRING (101.58921 2.99495, 101.58918 2.99471)"
1717505,992226360,None,service,None,None,None,None,0,None,"LINESTRING (101.56476 2.98788, 101.56476 2.98805)"

A GeoDataFrame contains a special column called geometry
All spatial operations on the GeoDataFrame are applied to the geometry column. It can be accessed using the geometry attribute.

In [141]:
print(roads_gdf.geometry)

0          LINESTRING (103.83006 1.30602, 103.83011 1.30599)
1          LINESTRING (101.72265 3.14789, 101.72237 3.147...
2          LINESTRING (101.70838 3.14739, 101.70848 3.147...
3          LINESTRING (101.70426 3.14687, 101.70466 3.147...
4          LINESTRING (101.70334 3.14764, 101.70354 3.14791)
                                 ...
1717501    LINESTRING (101.52678 3.01054, 101.52712 3.010...
1717502    LINESTRING (103.73051 1.54306, 103.73093 1.542...
1717503    LINESTRING (103.77775 1.56705, 103.77785 1.567...
1717504    LINESTRING (101.58921 2.99495, 101.58918 2.99471)
1717505    LINESTRING (101.56476 2.98788, 101.56476 2.98805)
Name: geometry, Length: 1717506, dtype: geometry

In [142]:
shape_gdf = roads_gdf.geometry

#### Set Projections

Each GeoDataFrame as a crs attribute that contains the projection information. Our datasets are in EPSG:4326 WGS84 CRS

In [143]:
print(shape_gdf.crs)

epsg:4326

In [144]:
roads_reprojected = shape_gdf.to_crs('EPSG:32643')

In [145]:
print(roads_reprojected.crs)

EPSG:32643

We can calculate the length of each geometry using the length attribute and the result would be in meters.

We can add the line length in a new column named length.

In [146]:
roads_reprojected['length'] = roads_reprojected.geometry.length


Let's sum all roads length using sum() method and divide it by 1000

In [148]:
total_length = roads_reprojected['length'].sum()

In [149]:
print('The total length of roads in malaysia is {}'.format(total_length/1000))

The total length of roads in malaysia is 698088.7231365049